* text=auto

.gitattributes text eol=lf
*.gradle text eol=lf
*.java text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.md text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
gradlew text eol=lf
*.bat text eol=crlf

*.jar binary
*.png binary
